p {
    font-size: 30px;
    font-family: cursive;
}

#countdown {
    background-color: rgb(243, 238, 238);
    width:150px;
    height: 70px;
    box-shadow: 0 0 10px 7px black;
    border-radius: 10px;
    
}